<div class="row">
    <h1>Eduacion</h1>
    <div class="col-lg-11">
        <ul>

            <li>
                <h1>Primario 1 </h1> <h3> año: 1999 </h3>


            </li>

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, ut? Quaerat illum consequuntur nisi, cum quibusdam magnam perferendis quia provident, voluptatum sapiente nostrum, eos doloribus consequatur incidunt? Eius, ipsam expedita?

        </ul>

        <ul>

            <li>
                <h1>Secundario 2 </h1> <h3> año: 2005 </h3>


            </li>

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, ut? Quaerat illum consequuntur nisi, cum quibusdam magnam perferendis quia provident, voluptatum sapiente nostrum, eos doloribus consequatur incidunt? Eius, ipsam expedita?

        </ul>

        <ul>

            <li>
                <h1>Universitario 3 </h1> <h3> año: 2010 </h3>


            </li>

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, ut? Quaerat illum consequuntur nisi, cum quibusdam magnam perferendis quia provident, voluptatum sapiente nostrum, eos doloribus consequatur incidunt? Eius, ipsam expedita?

        </ul>
    </div>
</div>