.row{
    padding: 80px;
}

div{
    background-color:rgb(57, 136, 167);
    text-align: right;
    

}

/* estilo de nomnbre*/
#nombre{
        font-weight:bold;
        margin-top: 50px;
}

 /*foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 36%;
        border-radius: 100%;
        box-shadow: -5px -5px 10px rgb(122, 255, 255);
        left: 1%;
        top: 500px;

    }
}

@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 50%;
        border-radius: 100%;
        box-shadow: -5px -5px 10px rgb(122, 255, 255);
        left: 30%;
        top: 350px;

    }
}




